<ion-header>
  <ion-navbar role="toolbar">
    <ion-title>{{ recipe.name || 'New recipe' }}</ion-title>
    <ion-buttons end>
      <button (click)="changeDataView()" *ngIf="!editMode && recipeSegment === 'nutrition'" ion-button padding role="button">
        {{ dataView }}
      </button>
      <button (click)="saveRecipe()" [disabled]="recipeForm.invalid || !recipe.ingredients.length" *ngIf="editMode" ion-button
        padding role="button">
        <ion-icon aria-hidden="true" name="cloud-done"></ion-icon>
      </button>
      <button (click)="editRecipe()" *ngIf="!editMode" icon-only ion-button padding role="button">
        <ion-icon aria-hidden="true" name="create"></ion-icon>
      </button>
      <button (click)="removeRecipe()" *ngIf="editMode" icon-only ion-button padding role="button">
        <ion-icon aria-hidden="true" name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar role="tablist">
    <ion-segment [(ngModel)]="recipeSegment">
      <ion-segment-button value="recipeInfo">
        Info
      </ion-segment-button>
      <ion-segment-button value="ingredients">
        Ingredients
      </ion-segment-button>
      <ion-segment-button value="nutrition">
        Nutrition
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab bottom *ngIf="editMode && recipeSegment === 'ingredients'" right>
    <button (click)="addIngredient()" color="secondary" ion-fab role="button">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
    </button>
  </ion-fab>
  <div [ngSwitch]="recipeSegment">
    <div *ngIf="!editMode">
      <div *ngSwitchCase="'recipeInfo'">
        <div class="recipe-image" *ngIf="recipe.image" [style.backgroundImage]="'url(' + recipe.image + ')'"></div>
        <ion-list role="list">
          <ion-item role="listitem">
            Name
            <p item-content>{{ recipe.name }}</p>
          </ion-item>
          <ion-item role="listitem">
            Cooking temperature
            <p item-content>{{ recipe.cookingTemperature }}&deg; C</p>
          </ion-item>
          <ion-item role="listitem">
            Duration
            <p item-content>{{ recipe.duration }} minutes</p>
          </ion-item>
          <ion-item role="listitem">
            Portions
            <p item-content>{{ recipe.portions }}</p>
          </ion-item>
          <ion-item role="listitem">
            Portion size
            <p item-content>{{ recipe.quantity }}g</p>
          </ion-item>
        </ion-list>
      </div>
      <div *ngSwitchCase="'ingredients'">
        <ion-list role="list">
          <ion-item *ngFor="let ingredient of recipe.ingredients; let i = index" role="listitem">
            <h2 text-wrap>{{ ingredient.name }}</h2>
            <p text-wrap>{{ ingredient.quantity * ingredient.servings }} g</p>
            <p item-content>{{ ingredient.servings }} servings</p>
          </ion-item>
          <div *ngIf="recipe.ingredients?.length === 0" class="no-elements">
            <ion-icon aria-hidden="true" class="no-elements__icon" name="time"></ion-icon>
            <h2 class="no-elements__message">You have no ingredients</h2>
          </div>
        </ion-list>
      </div>
      <div *ngSwitchCase="'nutrition'">
        <div *ngIf="dataView === 'Quantities'">
          <ion-item-group role="group">
            <ion-item role="listitem">
              Energy
              <p item-content>{{ recipeDailyRequirements.energy?.value }}%</p>
            </ion-item>
            <ion-item-divider color="primary" role="separator">Proximates</ion-item-divider>
            <ion-item role="listitem">
              Water
              <p item-content>{{ recipeDailyRequirements.water?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Protein
              <p item-content>{{ recipeDailyRequirements.protein?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Carbohydrates
              <p item-content>{{ recipeDailyRequirements.carbs?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Fiber
              <p item-content>{{ recipeDailyRequirements.fiber?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Sugars
              <p item-content>{{ recipeDailyRequirements.sugars?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Fats
              <p item-content>{{ recipeDailyRequirements.fats?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Trans fat
              <p item-content>{{ recipeDailyRequirements.transFat?.value }}%</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Essential amino acids</ion-item-divider>
            <ion-item role="listitem">
              Histidine
              <p item-content>{{ recipeDailyRequirements.histidine?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Isoleucine
              <p item-content>{{ recipeDailyRequirements.isoleucine?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Leucine
              <p item-content>{{ recipeDailyRequirements.leucine?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Lysine
              <p item-content>{{ recipeDailyRequirements.lysine?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Methionine
              <p item-content>{{ recipeDailyRequirements.methionine?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Phenylalanine
              <p item-content>{{ recipeDailyRequirements.phenylalanine?.value }}%
              </p>
            </ion-item>
            <ion-item role="listitem">
              Threonine
              <p item-content>{{ recipeDailyRequirements.threonine?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Tryptophan
              <p item-content>{{ recipeDailyRequirements.tryptophan?.value }}%</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Essential vitamins</ion-item-divider>
            <ion-item role="listitem">
              Vitamin A
              <p item-content>{{ recipeDailyRequirements.vitaminA?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B1 (Thiamine)
              <p item-content>{{ recipeDailyRequirements.vitaminB1?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B2 (Riboflavin)
              <p item-content>{{ recipeDailyRequirements.vitaminB2?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B3 (Niacin)
              <p item-content>{{ recipeDailyRequirements.vitaminB3?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B5 (Pantothenic acid)
              <p item-content>{{ recipeDailyRequirements.vitaminB5?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B6 (Pyridoxine)
              <p item-content>{{ recipeDailyRequirements.vitaminB6?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B9 (Folate)
              <p item-content>{{ recipeDailyRequirements.vitaminB9?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B12 (Cobalamin)
              <p item-content>{{ recipeDailyRequirements.vitaminB12?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Choline
              <p item-content>{{ recipeDailyRequirements.choline?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin C (Ascorbic acid)
              <p item-content>{{ recipeDailyRequirements.vitaminC?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin D (Cholecalciferol)
              <p item-content>{{ recipeDailyRequirements.vitaminD?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin E (Tocopherol)
              <p item-content>{{ recipeDailyRequirements.vitaminE?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin K
              <p item-content>{{ recipeDailyRequirements.vitaminK?.value }}%</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Essential minerals</ion-item-divider>
            <ion-item role="listitem">
              Calcium
              <p item-content>{{ recipeDailyRequirements.calcium?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Copper
              <p item-content>{{ recipeDailyRequirements.copper?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Iron
              <p item-content>{{ recipeDailyRequirements.iron?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Magnesium
              <p item-content>{{ recipeDailyRequirements.magnesium?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Manganese
              <p item-content>{{ recipeDailyRequirements.manganese?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Phosphorus
              <p item-content>{{ recipeDailyRequirements.phosphorus?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Potassium
              <p item-content>{{ recipeDailyRequirements.potassium?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Selenium
              <p item-content>{{ recipeDailyRequirements.selenium?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Sodium
              <p item-content>{{ recipeDailyRequirements.sodium?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Zinc
              <p item-content>{{ recipeDailyRequirements.zinc?.value }}%</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Essential fatty acids</ion-item-divider>
            <ion-item role="listitem">
              Omega-3 (ALA)
              <p item-content>{{ recipeDailyRequirements.ala?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Omega-3 (DHA)
              <p item-content>{{ recipeDailyRequirements.dha?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Omega-3 (EPA)
              <p item-content>{{ recipeDailyRequirements.epa?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Omega-6 (LA)
              <p item-content>{{ recipeDailyRequirements.la?.value }}%</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Other</ion-item-divider>
            <ion-item role="listitem">
              Alcohol
              <p item-content>{{ recipeDailyRequirements.alcohol?.value }}%</p>
            </ion-item>
            <ion-item role="listitem">
              Caffeine (DHA)
              <p item-content>{{ recipeDailyRequirements.caffeine?.value }}%</p>
            </ion-item>
          </ion-item-group>
        </div>
        <div *ngIf="dataView === 'Percentages'">
          <ion-item-group role="group">
            <ion-item role="listitem">
              Energy
              <p item-content>{{ recipe.nutrition.energy?.value.toFixed(2) }}{{ recipe.nutrition.energy?.unit }}</p>
            </ion-item>
            <ion-item-divider color="primary" role="separator">Proximates</ion-item-divider>
            <ion-item role="listitem">
              Water
              <p item-content>{{ recipe.nutrition.water?.value.toFixed(2) }}{{ recipe.nutrition.water?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Protein
              <p item-content>{{ recipe.nutrition.protein?.value.toFixed(2) }}{{ recipe.nutrition.protein?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Carbohydrates
              <p item-content>{{ recipe.nutrition.carbs?.value.toFixed(2) }}{{ recipe.nutrition.carbs?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Fiber
              <p item-content>{{ recipe.nutrition.fiber?.value.toFixed(2) }}{{ recipe.nutrition.fiber?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Sugars
              <p item-content>{{ recipe.nutrition.sugars?.value.toFixed(2) }}{{ recipe.nutrition.sugars?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Fats
              <p item-content>{{ recipe.nutrition.fats?.value.toFixed(2) }}{{ recipe.nutrition.fats?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Trans fat
              <p item-content>{{ recipe.nutrition.transFat?.value.toFixed(2) }}{{ recipe.nutrition.transFat?.unit }}</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Essential amino acids</ion-item-divider>
            <ion-item role="listitem">
              Histidine
              <p item-content>{{ recipe.nutrition.histidine?.value.toFixed(2) }}{{ recipe.nutrition.histidine?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Isoleucine
              <p item-content>{{ recipe.nutrition.isoleucine?.value.toFixed(2) }}{{ recipe.nutrition.isoleucine?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Leucine
              <p item-content>{{ recipe.nutrition.leucine?.value.toFixed(2) }}{{ recipe.nutrition.leucine?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Lysine
              <p item-content>{{ recipe.nutrition.lysine?.value.toFixed(2) }}{{ recipe.nutrition.lysine?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Methionine
              <p item-content>{{ recipe.nutrition.methionine?.value.toFixed(2) }}{{ recipe.nutrition.methionine?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Phenylalanine
              <p item-content>{{ recipe.nutrition.phenylalanine?.value.toFixed(2) }}{{ recipe.nutrition.phenylalanine?.unit }}
              </p>
            </ion-item>
            <ion-item role="listitem">
              Threonine
              <p item-content>{{ recipe.nutrition.threonine?.value.toFixed(2) }}{{ recipe.nutrition.threonine?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Tryptophan
              <p item-content>{{ recipe.nutrition.tryptophan?.value.toFixed(2) }}{{ recipe.nutrition.tryptophan?.unit }}</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Essential vitamins</ion-item-divider>
            <ion-item role="listitem">
              Vitamin A
              <p item-content>{{ recipe.nutrition.vitaminA?.value.toFixed(2) }}{{ recipe.nutrition.vitaminA?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B1 (Thiamine)
              <p item-content>{{ recipe.nutrition.vitaminB1?.value.toFixed(2) }}{{ recipe.nutrition.vitaminB1?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B2 (Riboflavin)
              <p item-content>{{ recipe.nutrition.vitaminB2?.value.toFixed(2) }}{{ recipe.nutrition.vitaminB2?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B3 (Niacin)
              <p item-content>{{ recipe.nutrition.vitaminB3?.value.toFixed(2) }}{{ recipe.nutrition.vitaminB3?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B5 (Pantothenic acid)
              <p item-content>{{ recipe.nutrition.vitaminB5?.value.toFixed(2) }}{{ recipe.nutrition.vitaminB5?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B6 (Pyridoxine)
              <p item-content>{{ recipe.nutrition.vitaminB6?.value.toFixed(2) }}{{ recipe.nutrition.vitaminB6?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B9 (Folate)
              <p item-content>{{ recipe.nutrition.vitaminB9?.value.toFixed(2) }}{{ recipe.nutrition.vitaminB9?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin B12 (Cobalamin)
              <p item-content>{{ recipe.nutrition.vitaminB12?.value.toFixed(2) }}{{ recipe.nutrition.vitaminB12?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Choline
              <p item-content>{{ recipe.nutrition.choline?.value.toFixed(2) }}{{ recipe.nutrition.choline?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin C (Ascorbic acid)
              <p item-content>{{ recipe.nutrition.vitaminC?.value.toFixed(2) }}{{ recipe.nutrition.vitaminC?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin D (Cholecalciferol)
              <p item-content>{{ recipe.nutrition.vitaminD?.value.toFixed(2) }}{{ recipe.nutrition.vitaminD?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin E (Tocopherol)
              <p item-content>{{ recipe.nutrition.vitaminE?.value.toFixed(2) }}{{ recipe.nutrition.vitaminE?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Vitamin K
              <p item-content>{{ recipe.nutrition.vitaminK?.value.toFixed(2) }}{{ recipe.nutrition.vitaminK?.unit }}</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Essential minerals</ion-item-divider>
            <ion-item role="listitem">
              Calcium
              <p item-content>{{ recipe.nutrition.calcium?.value.toFixed(2) }}{{ recipe.nutrition.calcium?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Copper
              <p item-content>{{ recipe.nutrition.copper?.value.toFixed(2) }}{{ recipe.nutrition.copper?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Iron
              <p item-content>{{ recipe.nutrition.iron?.value.toFixed(2) }}{{ recipe.nutrition.iron?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Magnesium
              <p item-content>{{ recipe.nutrition.magnesium?.value.toFixed(2) }}{{ recipe.nutrition.magnesium?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Manganese
              <p item-content>{{ recipe.nutrition.manganese?.value.toFixed(2) }}{{ recipe.nutrition.manganese?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Phosphorus
              <p item-content>{{ recipe.nutrition.phosphorus?.value.toFixed(2) }}{{ recipe.nutrition.phosphorus?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Potassium
              <p item-content>{{ recipe.nutrition.potassium?.value.toFixed(2) }}{{ recipe.nutrition.potassium?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Selenium
              <p item-content>{{ recipe.nutrition.selenium?.value.toFixed(2) }}{{ recipe.nutrition.selenium?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Sodium
              <p item-content>{{ recipe.nutrition.sodium?.value.toFixed(2) }}{{ recipe.nutrition.sodium?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Zinc
              <p item-content>{{ recipe.nutrition.zinc?.value.toFixed(2) }}{{ recipe.nutrition.zinc?.unit }}</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Essential fatty acids</ion-item-divider>
            <ion-item role="listitem">
              Omega-3 (ALA)
              <p item-content>{{ recipe.nutrition.ala?.value.toFixed(2) }}{{ recipe.nutrition.ala?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Omega-3 (DHA)
              <p item-content>{{ recipe.nutrition.dha?.value.toFixed(2) }}{{ recipe.nutrition.dha?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Omega-3 (EPA)
              <p item-content>{{ recipe.nutrition.epa?.value.toFixed(2) }}{{ recipe.nutrition.epa?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Omega-6 (LA)
              <p item-content>{{ recipe.nutrition.la?.value.toFixed(2) }}{{ recipe.nutrition.la?.unit }}</p>
            </ion-item>
          </ion-item-group>
          <ion-item-group role="group">
            <ion-item-divider color="primary" role="separator">Other</ion-item-divider>
            <ion-item role="listitem">
              Alcohol
              <p item-content>{{ recipe.nutrition.la?.value.toFixed(2) }}{{ recipe.nutrition.la?.unit }}</p>
            </ion-item>
            <ion-item role="listitem">
              Caffeine
              <p item-content>{{ recipe.nutrition.la?.value.toFixed(2) }}{{ recipe.nutrition.la?.unit }}</p>
            </ion-item>
          </ion-item-group>
        </div>
      </div>
    </div>
    <div *ngIf="editMode">
      <div *ngSwitchCase="'recipeInfo'">
        <form [formGroup]="recipeForm" *ngIf="editMode" novalidate role="form">
          <ion-grid>
            <ion-row justify-content-center align-items-center>
              <ion-col (click)="changeImage()">
                <div class="upload-placeholder" *ngIf="!recipe.image">
                  <ion-icon name="add"></ion-icon>
                  <div>
                    Choose image
                  </div>
                </div>
                <div class="recipe-image" [style.backgroundImage]="'url(' + this.recipe.image + ')'" *ngIf="recipe.image"></div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <input type="file" #fileInput style="visibility: hidden; height: 0px" (change)="processWebImage($event)" />
          <ion-list role="list">
            <ion-item>
              <ion-label floating for="name" id="nameLabel">Name *</ion-label>
              <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="nameLabel" aria-required="true" formControlName="name"
                id="name" required type="text"></ion-input>
            </ion-item>
            <div class="form__message" *ngIf="recipeForm.invalid && name?.touched && name.errors?.required">Please enter the recipe name.</div>
            <ion-item>
              <ion-label floating for="cookingTemperature" id="cookingTemperatureLabel">Cooking temperature (&deg; C) *</ion-label>
              <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="cookingTemperatureLabel" aria-required="true"
                formControlName="cookingTemperature" id="cookingTemperature" required type="text"></ion-input>
            </ion-item>
            <div class="form__message" *ngIf="recipeForm.invalid && cookingTemperature?.touched && cookingTemperature.errors?.required">Please enter the recipe cooking temperature.</div>
            <ion-item>
              <ion-label floating for="duration" id="durationLabel">Duration (min) *</ion-label>
              <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="durationLabel" aria-required="true" formControlName="duration"
                id="duration" required type="number"></ion-input>
            </ion-item>
            <div class="form__message" *ngIf="recipeForm.invalid && duration?.touched && duration.errors?.required">Please enter the recipe duration.</div>
            <ion-item>
              <ion-label floating for="portions" id="portionsLabel">Portions *</ion-label>
              <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="portionsLabel" aria-required="true" formControlName="portions"
                id="portions" required type="text"></ion-input>
            </ion-item>
            <div class="form__message" *ngIf="recipeForm.invalid && portions?.touched && portions.errors?.required">Please enter the recipe portions.</div>
          </ion-list>
        </form>
      </div>
      <div *ngSwitchCase="'ingredients'">
        <ion-list role="list">
          <button (click)="changeIngredient(i)" ion-item *ngFor="let ingredient of recipe.ingredients; let i = index" role="button">
            <ion-icon aria-hidden="true" color="primary" item-start name="create"></ion-icon>
            <h2 text-wrap>{{ ingredient.name }}</h2>
            <p text-wrap>{{ ingredient.quantity * ingredient.servings }} g</p>
            <p item-content>{{ ingredient.servings }} servings</p>
          </button>
          <div *ngIf="recipe.ingredients?.length === 0" class="no-elements">
            <ion-icon aria-hidden="true" class="no-elements__icon" name="time"></ion-icon>
            <h2 class="no-elements__message">You have no ingredients</h2>
          </div>
          <ion-item *ngIf="recipe.ingredients?.length > 0" role="listitem">
            <h2 text-wrap>Portion size</h2>
            <p item-content>{{ recipe.quantity }}g</p>
          </ion-item>
        </ion-list>
      </div>
      <div *ngSwitchCase="'nutrition'">
        <ion-item-group role="group">
          <ion-item role="listitem">
            Energy
            <p item-content>{{ recipe.nutrition?.energy?.value.toFixed(2) }}{{ recipe.nutrition?.energy?.unit }}</p>
          </ion-item>
          <ion-item-divider color="primary" role="separator">Proximates</ion-item-divider>
          <ion-item role="listitem">
            Water
            <p item-content>{{ recipe.nutrition?.water?.value.toFixed(2) }}{{ recipe.nutrition?.water?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Protein
            <p item-content>{{ recipe.nutrition?.protein?.value.toFixed(2) }}{{ recipe.nutrition?.protein?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Carbohydrates
            <p item-content>{{ recipe.nutrition?.carbs?.value.toFixed(2) }}{{ recipe.nutrition?.carbs?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Fiber
            <p item-content>{{ recipe.nutrition?.fiber?.value.toFixed(2) }}{{ recipe.nutrition?.fiber?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Sugars
            <p item-content>{{ recipe.nutrition?.sugars?.value.toFixed(2) }}{{ recipe.nutrition?.sugars?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Fats
            <p item-content>{{ recipe.nutrition?.fats?.value.toFixed(2) }}{{ recipe.nutrition?.fats?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Trans fat
            <p item-content>{{ recipe.nutrition?.transFat?.value.toFixed(2) }}{{ recipe.nutrition?.transFat?.unit }}</p>
          </ion-item>
        </ion-item-group>
        <ion-item-group role="group">
          <ion-item-divider color="primary" role="separator">Essential amino acids</ion-item-divider>
          <ion-item role="listitem">
            Histidine
            <p item-content>{{ recipe.nutrition?.histidine?.value.toFixed(2) }}{{ recipe.nutrition?.histidine?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Isoleucine
            <p item-content>{{ recipe.nutrition?.isoleucine?.value.toFixed(2) }}{{ recipe.nutrition?.isoleucine?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Leucine
            <p item-content>{{ recipe.nutrition?.leucine?.value.toFixed(2) }}{{ recipe.nutrition?.leucine?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Lysine
            <p item-content>{{ recipe.nutrition?.lysine?.value.toFixed(2) }}{{ recipe.nutrition?.lysine?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Methionine
            <p item-content>{{ recipe.nutrition?.methionine?.value.toFixed(2) }}{{ recipe.nutrition?.methionine?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Phenylalanine
            <p item-content>{{ recipe.nutrition?.phenylalanine?.value.toFixed(2) }}{{ recipe.nutrition?.phenylalanine?.unit }}
            </p>
          </ion-item>
          <ion-item role="listitem">
            Threonine
            <p item-content>{{ recipe.nutrition?.threonine?.value.toFixed(2) }}{{ recipe.nutrition?.threonine?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Tryptophan
            <p item-content>{{ recipe.nutrition?.tryptophan?.value.toFixed(2) }}{{ recipe.nutrition?.tryptophan?.unit }}</p>
          </ion-item>
        </ion-item-group>
        <ion-item-group role="group">
          <ion-item-divider color="primary" role="separator">Essential vitamins</ion-item-divider>
          <ion-item role="listitem">
            Vitamin A
            <p item-content>{{ recipe.nutrition?.vitaminA?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminA?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin B1 (Thiamine)
            <p item-content>{{ recipe.nutrition?.vitaminB1?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminB1?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin B2 (Riboflavin)
            <p item-content>{{ recipe.nutrition?.vitaminB2?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminB2?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin B3 (Niacin)
            <p item-content>{{ recipe.nutrition?.vitaminB3?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminB3?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin B5 (Pantothenic acid)
            <p item-content>{{ recipe.nutrition?.vitaminB5?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminB5?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin B6 (Pyridoxine)
            <p item-content>{{ recipe.nutrition?.vitaminB6?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminB6?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin B9 (Folate)
            <p item-content>{{ recipe.nutrition?.vitaminB9?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminB9?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin B12 (Cobalamin)
            <p item-content>{{ recipe.nutrition?.vitaminB12?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminB12?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Choline
            <p item-content>{{ recipe.nutrition?.choline?.value.toFixed(2) }}{{ recipe.nutrition?.choline?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin C (Ascorbic acid)
            <p item-content>{{ recipe.nutrition?.vitaminC?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminC?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin D (Cholecalciferol)
            <p item-content>{{ recipe.nutrition?.vitaminD?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminD?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin E (Tocopherol)
            <p item-content>{{ recipe.nutrition?.vitaminE?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminE?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Vitamin K
            <p item-content>{{ recipe.nutrition?.vitaminK?.value.toFixed(2) }}{{ recipe.nutrition?.vitaminK?.unit }}</p>
          </ion-item>
        </ion-item-group>
        <ion-item-group role="group">
          <ion-item-divider color="primary" role="separator">Essential minerals</ion-item-divider>
          <ion-item role="listitem">
            Calcium
            <p item-content>{{ recipe.nutrition?.calcium?.value.toFixed(2) }}{{ recipe.nutrition?.calcium?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Copper
            <p item-content>{{ recipe.nutrition?.copper?.value.toFixed(2) }}{{ recipe.nutrition?.copper?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Iron
            <p item-content>{{ recipe.nutrition?.iron?.value.toFixed(2) }}{{ recipe.nutrition?.iron?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Magnesium
            <p item-content>{{ recipe.nutrition?.magnesium?.value.toFixed(2) }}{{ recipe.nutrition?.magnesium?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Manganese
            <p item-content>{{ recipe.nutrition?.manganese?.value.toFixed(2) }}{{ recipe.nutrition?.manganese?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Phosphorus
            <p item-content>{{ recipe.nutrition?.phosphorus?.value.toFixed(2) }}{{ recipe.nutrition?.phosphorus?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Potassium
            <p item-content>{{ recipe.nutrition?.potassium?.value.toFixed(2) }}{{ recipe.nutrition?.potassium?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Selenium
            <p item-content>{{ recipe.nutrition?.selenium?.value.toFixed(2) }}{{ recipe.nutrition?.selenium?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Sodium
            <p item-content>{{ recipe.nutrition?.sodium?.value.toFixed(2) }}{{ recipe.nutrition?.sodium?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Zinc
            <p item-content>{{ recipe.nutrition?.zinc?.value.toFixed(2) }}{{ recipe.nutrition?.zinc?.unit }}</p>
          </ion-item>
        </ion-item-group>
        <ion-item-group role="group">
          <ion-item-divider color="primary" role="separator">Essential fatty acids</ion-item-divider>
          <ion-item role="listitem">
            Omega-3 (ALA)
            <p item-content>{{ recipe.nutrition?.ala?.value.toFixed(2) }}{{ recipe.nutrition?.ala?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Omega-3 (DHA)
            <p item-content>{{ recipe.nutrition?.dha?.value.toFixed(2) }}{{ recipe.nutrition?.dha?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Omega-3 (EPA)
            <p item-content>{{ recipe.nutrition?.epa?.value.toFixed(2) }}{{ recipe.nutrition?.epa?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Omega-6 (LA)
            <p item-content>{{ recipe.nutrition?.la?.value.toFixed(2) }}{{ recipe.nutrition?.la?.unit }}</p>
          </ion-item>
        </ion-item-group>
        <ion-item-group role="group">
          <ion-item-divider color="primary" role="separator">Other</ion-item-divider>
          <ion-item role="listitem">
            Alcohol
            <p item-content>{{ recipe.nutrition?.la?.value.toFixed(2) }}{{ recipe.nutrition?.la?.unit }}</p>
          </ion-item>
          <ion-item role="listitem">
            Caffeine
            <p item-content>{{ recipe.nutrition?.la?.value.toFixed(2) }}{{ recipe.nutrition?.la?.unit }}</p>
          </ion-item>
        </ion-item-group>
      </div>
    </div>
  </div>
</ion-content>