<ion-header>
  <ion-navbar role="toolbar">
    <ion-title>{{ food.name || 'New food' }}</ion-title>
    <ion-buttons end>
      <button (click)="changeDataView()" *ngIf="!editMode" ion-button padding role="button">
        {{ dataView }}
      </button>
      <button (click)="editFood()" *ngIf="(food.uploader && food.uploader === authId) && !editMode" icon-only ion-button padding
        role="button">
        <ion-icon aria-hidden="true" name="create"></ion-icon>
      </button>
      <button (click)="dismiss()" *ngIf="!editMode" icon-only ion-button padding role="button">
        <ion-icon aria-hidden="true" name="done-all"></ion-icon>
      </button>
      <button (click)="saveFood()" [disabled]="foodForm.invalid" *ngIf="editMode" ion-button padding role="button">
        <ion-icon aria-hidden="true" name="cloud-done"></ion-icon>
      </button>
      <button (click)="removeFood()" *ngIf="editMode" icon-only ion-button padding role="button">
        <ion-icon aria-hidden="true" name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!editMode && dataView === 'Percentages'">
    <ion-item-group role="group">
      <ion-item role="listitem">
        Energy
        <p item-content>{{ foodDailyRequirements.energy?.value }}%</p>
      </ion-item>
      <ion-item-divider color="primary" role="separator">Proximates</ion-item-divider>
      <ion-item role="listitem">
        Water
        <p item-content>{{ foodDailyRequirements.water?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Protein
        <p item-content>{{ foodDailyRequirements.protein?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Carbohydrates
        <p item-content>{{ foodDailyRequirements.carbs?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Fiber
        <p item-content>{{ foodDailyRequirements.fiber?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Sugars
        <p item-content>{{ foodDailyRequirements.sugars?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Fats
        <p item-content>{{ foodDailyRequirements.fats?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Trans fat
        <p item-content>{{ foodDailyRequirements.transFat?.value }}%</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential amino acids</ion-item-divider>
      <ion-item role="listitem">
        Histidine
        <p item-content>{{ foodDailyRequirements.histidine?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Isoleucine
        <p item-content>{{ foodDailyRequirements.isoleucine?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Leucine
        <p item-content>{{ foodDailyRequirements.leucine?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Lysine
        <p item-content>{{ foodDailyRequirements.lysine?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Methionine
        <p item-content>{{ foodDailyRequirements.methionine?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Phenylalanine
        <p item-content>{{ foodDailyRequirements.phenylalanine?.value }}%
        </p>
      </ion-item>
      <ion-item role="listitem">
        Threonine
        <p item-content>{{ foodDailyRequirements.threonine?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Tryptophan
        <p item-content>{{ foodDailyRequirements.tryptophan?.value }}%</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential vitamins</ion-item-divider>
      <ion-item role="listitem">
        Vitamin A
        <p item-content>{{ foodDailyRequirements.vitaminA?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B1 (Thiamine)
        <p item-content>{{ foodDailyRequirements.vitaminB1?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B2 (Riboflavin)
        <p item-content>{{ foodDailyRequirements.vitaminB2?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B3 (Niacin)
        <p item-content>{{ foodDailyRequirements.vitaminB3?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B5 (Pantothenic acid)
        <p item-content>{{ foodDailyRequirements.vitaminB5?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B6 (Pyridoxine)
        <p item-content>{{ foodDailyRequirements.vitaminB6?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B9 (Folate)
        <p item-content>{{ foodDailyRequirements.vitaminB9?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B12 (Cobalamin)
        <p item-content>{{ foodDailyRequirements.vitaminB12?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Choline
        <p item-content>{{ foodDailyRequirements.choline?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin C (Ascorbic acid)
        <p item-content>{{ foodDailyRequirements.vitaminC?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin D (Cholecalciferol)
        <p item-content>{{ foodDailyRequirements.vitaminD?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin E (Tocopherol)
        <p item-content>{{ foodDailyRequirements.vitaminE?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin K
        <p item-content>{{ foodDailyRequirements.vitaminK?.value }}%</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential minerals</ion-item-divider>
      <ion-item role="listitem">
        Calcium
        <p item-content>{{ foodDailyRequirements.calcium?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Copper
        <p item-content>{{ foodDailyRequirements.copper?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Iron
        <p item-content>{{ foodDailyRequirements.iron?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Magnesium
        <p item-content>{{ foodDailyRequirements.magnesium?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Manganese
        <p item-content>{{ foodDailyRequirements.manganese?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Phosphorus
        <p item-content>{{ foodDailyRequirements.phosphorus?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Potassium
        <p item-content>{{ foodDailyRequirements.potassium?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Selenium
        <p item-content>{{ foodDailyRequirements.selenium?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Sodium
        <p item-content>{{ foodDailyRequirements.sodium?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Zinc
        <p item-content>{{ foodDailyRequirements.zinc?.value }}%</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential fatty acids</ion-item-divider>
      <ion-item role="listitem">
        Omega-3 (ALA)
        <p item-content>{{ foodDailyRequirements.ala?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Omega-3 (DHA)
        <p item-content>{{ foodDailyRequirements.dha?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Omega-3 (EPA)
        <p item-content>{{ foodDailyRequirements.epa?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Omega-6 (LA)
        <p item-content>{{ foodDailyRequirements.la?.value }}%</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Other</ion-item-divider>
      <ion-item role="listitem">
        Alcohol
        <p item-content>{{ foodDailyRequirements.alcohol?.value }}%</p>
      </ion-item>
      <ion-item role="listitem">
        Caffeine (DHA)
        <p item-content>{{ foodDailyRequirements.caffeine?.value }}%</p>
      </ion-item>
    </ion-item-group>
  </div>
  <div *ngIf="!editMode && dataView === 'Quantities'">
    <ion-item-group role="group">
      <ion-item role="listitem">
        Energy
        <p item-content>{{ food.nutrition.energy?.value.toFixed(2) }}{{ food.nutrition.energy?.unit }}</p>
      </ion-item>
      <ion-item-divider color="primary" role="separator">Proximates</ion-item-divider>
      <ion-item role="listitem">
        Water
        <p item-content>{{ food.nutrition.water?.value.toFixed(2) }}{{ food.nutrition.water?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Protein
        <p item-content>{{ food.nutrition.protein?.value.toFixed(2) }}{{ food.nutrition.protein?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Carbohydrates
        <p item-content>{{ food.nutrition.carbs?.value.toFixed(2) }}{{ food.nutrition.carbs?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Fiber
        <p item-content>{{ food.nutrition.fiber?.value.toFixed(2) }}{{ food.nutrition.fiber?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Sugars
        <p item-content>{{ food.nutrition.sugars?.value.toFixed(2) }}{{ food.nutrition.sugars?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Fats
        <p item-content>{{ food.nutrition.fats?.value.toFixed(2) }}{{ food.nutrition.fats?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Trans fat
        <p item-content>{{ food.nutrition.transFat?.value.toFixed(2) }}{{ food.nutrition.transFat?.unit }}</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential amino acids</ion-item-divider>
      <ion-item role="listitem">
        Histidine
        <p item-content>{{ food.nutrition.histidine?.value.toFixed(2) }}{{ food.nutrition.histidine?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Isoleucine
        <p item-content>{{ food.nutrition.isoleucine?.value.toFixed(2) }}{{ food.nutrition.isoleucine?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Leucine
        <p item-content>{{ food.nutrition.leucine?.value.toFixed(2) }}{{ food.nutrition.leucine?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Lysine
        <p item-content>{{ food.nutrition.lysine?.value.toFixed(2) }}{{ food.nutrition.lysine?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Methionine
        <p item-content>{{ food.nutrition.methionine?.value.toFixed(2) }}{{ food.nutrition.methionine?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Phenylalanine
        <p item-content>{{ food.nutrition.phenylalanine?.value.toFixed(2) }}{{ food.nutrition.phenylalanine?.unit }}
        </p>
      </ion-item>
      <ion-item role="listitem">
        Threonine
        <p item-content>{{ food.nutrition.threonine?.value.toFixed(2) }}{{ food.nutrition.threonine?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Tryptophan
        <p item-content>{{ food.nutrition.tryptophan?.value.toFixed(2) }}{{ food.nutrition.tryptophan?.unit }}</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential vitamins</ion-item-divider>
      <ion-item role="listitem">
        Vitamin A
        <p item-content>{{ food.nutrition.vitaminA?.value.toFixed(2) }}{{ food.nutrition.vitaminA?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B1 (Thiamine)
        <p item-content>{{ food.nutrition.vitaminB1?.value.toFixed(2) }}{{ food.nutrition.vitaminB1?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B2 (Riboflavin)
        <p item-content>{{ food.nutrition.vitaminB2?.value.toFixed(2) }}{{ food.nutrition.vitaminB2?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B3 (Niacin)
        <p item-content>{{ food.nutrition.vitaminB3?.value.toFixed(2) }}{{ food.nutrition.vitaminB3?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B5 (Pantothenic acid)
        <p item-content>{{ food.nutrition.vitaminB5?.value.toFixed(2) }}{{ food.nutrition.vitaminB5?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B6 (Pyridoxine)
        <p item-content>{{ food.nutrition.vitaminB6?.value.toFixed(2) }}{{ food.nutrition.vitaminB6?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B9 (Folate)
        <p item-content>{{ food.nutrition.vitaminB9?.value.toFixed(2) }}{{ food.nutrition.vitaminB9?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin B12 (Cobalamin)
        <p item-content>{{ food.nutrition.vitaminB12?.value.toFixed(2) }}{{ food.nutrition.vitaminB12?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Choline
        <p item-content>{{ food.nutrition.choline?.value.toFixed(2) }}{{ food.nutrition.choline?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin C (Ascorbic acid)
        <p item-content>{{ food.nutrition.vitaminC?.value.toFixed(2) }}{{ food.nutrition.vitaminC?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin D (Cholecalciferol)
        <p item-content>{{ food.nutrition.vitaminD?.value.toFixed(2) }}{{ food.nutrition.vitaminD?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin E (Tocopherol)
        <p item-content>{{ food.nutrition.vitaminE?.value.toFixed(2) }}{{ food.nutrition.vitaminE?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Vitamin K
        <p item-content>{{ food.nutrition.vitaminK?.value.toFixed(2) }}{{ food.nutrition.vitaminK?.unit }}</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential minerals</ion-item-divider>
      <ion-item role="listitem">
        Calcium
        <p item-content>{{ food.nutrition.calcium?.value.toFixed(2) }}{{ food.nutrition.calcium?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Copper
        <p item-content>{{ food.nutrition.copper?.value.toFixed(2) }}{{ food.nutrition.copper?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Iron
        <p item-content>{{ food.nutrition.iron?.value.toFixed(2) }}{{ food.nutrition.iron?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Magnesium
        <p item-content>{{ food.nutrition.magnesium?.value.toFixed(2) }}{{ food.nutrition.magnesium?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Manganese
        <p item-content>{{ food.nutrition.manganese?.value.toFixed(2) }}{{ food.nutrition.manganese?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Phosphorus
        <p item-content>{{ food.nutrition.phosphorus?.value.toFixed(2) }}{{ food.nutrition.phosphorus?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Potassium
        <p item-content>{{ food.nutrition.potassium?.value.toFixed(2) }}{{ food.nutrition.potassium?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Selenium
        <p item-content>{{ food.nutrition.selenium?.value.toFixed(2) }}{{ food.nutrition.selenium?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Sodium
        <p item-content>{{ food.nutrition.sodium?.value.toFixed(2) }}{{ food.nutrition.sodium?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Zinc
        <p item-content>{{ food.nutrition.zinc?.value.toFixed(2) }}{{ food.nutrition.zinc?.unit }}</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential fatty acids</ion-item-divider>
      <ion-item role="listitem">
        Omega-3 (ALA)
        <p item-content>{{ food.nutrition.ala?.value.toFixed(2) }}{{ food.nutrition.ala?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Omega-3 (DHA)
        <p item-content>{{ food.nutrition.dha?.value.toFixed(2) }}{{ food.nutrition.dha?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Omega-3 (EPA)
        <p item-content>{{ food.nutrition.epa?.value.toFixed(2) }}{{ food.nutrition.epa?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Omega-6 (LA)
        <p item-content>{{ food.nutrition.la?.value.toFixed(2) }}{{ food.nutrition.la?.unit }}</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Other</ion-item-divider>
      <ion-item role="listitem">
        Alcohol
        <p item-content>{{ food.nutrition.la?.value.toFixed(2) }}{{ food.nutrition.la?.unit }}</p>
      </ion-item>
      <ion-item role="listitem">
        Caffeine
        <p item-content>{{ food.nutrition.la?.value.toFixed(2) }}{{ food.nutrition.la?.unit }}</p>
      </ion-item>
    </ion-item-group>
  </div>
  <form [formGroup]="foodForm" *ngIf="editMode" novalidate role="form">
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Food info</ion-item-divider>
      <ion-item>
        <ion-label for="group" id="groupLabel">Group *</ion-label>
        <ion-select aria-live="assertive" aria-labelledby="groupLabel" aria-required="true" formControlName="group" id="group" required>
          <ion-option *ngFor="let foodGroup of foodGroups" role="option" [value]="foodGroup">{{ foodGroup }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating for="name" id="nameLabel">Name *</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="nameLabel" aria-required="true" formControlName="name"
          id="name" required type="text"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && name?.touched && name.errors?.required">Please enter the food name.</div>
      <ion-item>
        <ion-label floating for="quantity" id="quantityLabel">Quantity (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="quantityLabel" aria-required="true" formControlName="quantity"
          id="quantity" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && quantity?.touched && quantity.errors?.required">Please enter the food quantity.</div>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Proximates</ion-item-divider>
      <ion-item>
        <ion-label floating for="energy" id="energyLabel">Energy (kcal)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="energyLabel" aria-required="true" formControlName="energy"
          id="energy" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && energy?.touched && energy.errors?.required">Please enter the energy content.</div>
      <ion-item>
        <ion-label floating for="water" id="waterLabel">Water (ml)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="waterLabel" aria-required="true" formControlName="water"
          id="water" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && water?.touched && water.errors?.required">Please enter the water content.</div>
      <ion-item>
        <ion-label floating for="protein" id="proteinLabel">Protein (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="proteinLabel" aria-required="true" formControlName="protein"
          id="protein" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && protein?.touched && protein.errors?.required">Please enter the protein content.</div>
      <ion-item>
        <ion-label floating for="fats" id="fatsLabel">Total fat (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="fatsLabel" aria-required="true" formControlName="fats"
          id="fats" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && fats?.touched && fats.errors?.required">Please enter the fat content.</div>
      <ion-item>
        <ion-label floating for="satFat" id="satFatLabel">Saturated fat (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="satFatLabel" aria-required="true" formControlName="satFat"
          id="satFat" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && satFat?.touched && satFat.errors?.required">Please enter the saturated fat content.</div>
      <ion-item>
        <ion-label floating for="transFat" id="transFatLabel">Trans fat (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="transFatLabel" aria-required="true" formControlName="transFat"
          id="transFat" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && transFat?.touched && transFat.errors?.required">Please enter the trans fat content.</div>
      <ion-item>
        <ion-label floating for="carbs" id="carbsLabel">Carbohydrates (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="carbsLabel" aria-required="true" formControlName="carbs"
          id="carbs" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && carbs?.touched && carbs.errors?.required">Please enter the carbohydrate content.</div>
      <ion-item>
        <ion-label floating for="fiber" id="fiberLabel">Fiber (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="fiberLabel" aria-required="true" formControlName="fiber"
          id="fiber" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && fiber?.touched && fiber.errors?.required">Please enter the fiber content.</div>
      <ion-item>
        <ion-label floating for="sugars" id="sugarsLabel">Sugars (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="sugarsLabel" aria-required="true" formControlName="sugars"
          id="sugars" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && sugars?.touched && sugars.errors?.required">Please enter the sugar content.</div>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential amino acids</ion-item-divider>
      <ion-item>
        <ion-label floating for="histidine" id="histidineLabel">Histidine (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="histidineLabel" aria-required="true" formControlName="histidine"
          id="histidine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && histidine?.touched && histidine.errors?.required">Please enter the histidine content.</div>
      <ion-item>
        <ion-label floating for="isoleucine" id="isoleucineLabel">Isoleucine (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="isoleucineLabel" aria-required="true" formControlName="isoleucine"
          id="isoleucine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && isoleucine?.touched && isoleucine.errors?.required">Please enter the isoleucine content.</div>
      <ion-item>
        <ion-label floating for="leucine" id="leucineLabel">Leucine (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="leucineLabel" aria-required="true" formControlName="leucine"
          id="leucine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && leucine?.touched && leucine.errors?.required">Please enter the leucine content.</div>
      <ion-item>
        <ion-label floating for="lysine" id="lysineLabel">Lysine (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="lysineLabel" aria-required="true" formControlName="lysine"
          id="lysine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && lysine?.touched && lysine.errors?.required">Please enter the lysine content.</div>
      <ion-item>
        <ion-label floating for="methionine" id="methionineLabel">Methionine (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="methionineLabel" aria-required="true" formControlName="methionine"
          id="methionine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && methionine?.touched && methionine.errors?.required">Please enter the methionine content.</div>
      <ion-item>
        <ion-label floating for="phenylalanine" id="phenylalanineLabel">Phenylalanine (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="phenylalanineLabel" aria-required="true" formControlName="phenylalanine"
          id="phenylalanine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && phenylalanine?.touched && phenylalanine.errors?.required">Please enter the phenylalanine content.</div>
      <ion-item>
        <ion-label floating for="tryptophan" id="tryptophanLabel">Tryptophan (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="tryptophanLabel" aria-required="true" formControlName="tryptophan"
          id="tryptophan" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && tryptophan?.touched && tryptophan.errors?.required">Please enter the tryptophan content.</div>
      <ion-item>
        <ion-label floating for="threonine" id="threonineLabel">Threonine (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="threonineLabel" aria-required="true" formControlName="threonine"
          id="threonine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && threonine?.touched && threonine.errors?.required">Please enter the threonine content.</div>
      <ion-item>
        <ion-label floating for="valine" id="valineLabel">Valine (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="valineLabel" aria-required="true" formControlName="valine"
          id="valine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && valine?.touched && valine.errors?.required">Please enter the valine content.</div>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Essential fatty acids</ion-item-divider>
      <ion-item>
        <ion-label floating for="la" id="laLabel">Linoleic acid (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="laLabel" aria-required="true" formControlName="la"
          id="la" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && la?.touched && la.errors?.required">Please enter the linoleic acid content.</div>
      <ion-item>
        <ion-label floating for="ala" id="alaLabel">alpha-Linolenic acid (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="alaLabel" aria-required="true" formControlName="ala"
          id="ala" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && ala?.touched && ala.errors?.required">Please enter the alpha-linolenic acid content.</div>
      <ion-item>
        <ion-label floating for="dha" id="dhaLabel">Docosahexaenoic acid (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="dhaLabel" aria-required="true" formControlName="dha"
          id="dha" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && dha?.touched && dha.errors?.required">Please enter the docosahexaenoic acid content.</div>
      <ion-item>
        <ion-label floating for="epa" id="epaLabel">Eicosapentaenoic acid (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="epaLabel" aria-required="true" formControlName="epa"
          id="epa" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && epa?.touched && epa.errors?.required">Please enter the eicosapentaenoic acid content.</div>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Minerals</ion-item-divider>
      <ion-item>
        <ion-label floating for="calcium" id="calciumLabel">Calcium (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="calciumLabel" aria-required="true" formControlName="calcium"
          id="calcium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && calcium?.touched && calcium.errors?.required">Please enter the calcium content.</div>
      <ion-item>
        <ion-label floating for="copper" id="copperLabel">Copper (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="copperLabel" aria-required="true" formControlName="copper"
          id="copper" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && copper?.touched && copper.errors?.required">Please enter the copper content.</div>
      <ion-item>
        <ion-label floating for="iron" id="ironLabel">Iron (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="ironLabel" aria-required="true" formControlName="iron"
          id="iron" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && iron?.touched && iron.errors?.required">Please enter the iron content.</div>
      <ion-item>
        <ion-label floating for="magnesium" id="magnesiumLabel">Magnesium (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="magnesiumLabel" aria-required="true" formControlName="magnesium"
          id="magnesium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && magnesium?.touched && magnesium.errors?.required">Please enter the magnesium content.</div>
      <ion-item>
        <ion-label floating for="manganese" id="manganeseLabel">Manganese (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="manganeseLabel" aria-required="true" formControlName="manganese"
          id="manganese" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && manganese?.touched && manganese.errors?.required">Please enter the manganese content.</div>
      <ion-item>
        <ion-label floating for="phosphorus" id="phosphorusLabel">Phosphorus (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="phosphorusLabel" aria-required="true" formControlName="phosphorus"
          id="phosphorus" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && phosphorus?.touched && phosphorus.errors?.required">Please enter the phosphorus content.</div>
      <ion-item>
        <ion-label floating for="potassium" id="potassiumLabel">Potassium (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="potassiumLabel" aria-required="true" formControlName="potassium"
          id="potassium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && potassium?.touched && potassium.errors?.required">Please enter the potassium content.</div>
      <ion-item>
        <ion-label floating for="selenium" id="seleniumLabel">Selenium (ug)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="seleniumLabel" aria-required="true" formControlName="selenium"
          id="selenium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && selenium?.touched && selenium.errors?.required">Please enter the selenium content.</div>
      <ion-item>
        <ion-label floating for="sodium" id="sodiumLabel">Sodium (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="sodiumLabel" aria-required="true" formControlName="sodium"
          id="sodium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && sodium?.touched && sodium.errors?.required">Please enter the sodium content.</div>
      <ion-item>
        <ion-label floating for="zinc" id="zincLabel">Zinc (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="zincLabel" aria-required="true" formControlName="zinc"
          id="zinc" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && zinc?.touched && zinc.errors?.required">Please enter the zinc content.</div>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Vitamins</ion-item-divider>
      <ion-item>
        <ion-label floating for="vitaminA" id="vitaminALabel">Vitamin A (ug)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminALabel" aria-required="true" formControlName="vitaminA"
          id="vitaminA" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminA?.touched && vitaminA.errors?.required">Please enter the vitamin A content.</div>
      <ion-item>
        <ion-label floating for="vitaminB1" id="vitaminB1Label">Vitamin B1 (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminB1Label" aria-required="true" formControlName="vitaminB1"
          id="vitaminB1" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminB1?.touched && vitaminB1.errors?.required">Please enter the vitamin B1 content.</div>
      <ion-item>
        <ion-label floating for="vitaminB2" id="vitaminB2Label">Vitamin B2 (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminB2Label" aria-required="true" formControlName="vitaminB2"
          id="vitaminB2" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminB2?.touched && vitaminB2.errors?.required">Please enter the vitamin B2 content.</div>
      <ion-item>
        <ion-label floating for="vitaminB3" id="vitaminB3Label">Vitamin B3 (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminB3Label" aria-required="true" formControlName="vitaminB3"
          id="vitaminB3" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminB3?.touched && vitaminB3.errors?.required">Please enter the vitamin B3 content.</div>
      <ion-item>
        <ion-label floating for="vitaminB5" id="vitaminB5Label">Vitamin B5 (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminB5Label" aria-required="true" formControlName="vitaminB5"
          id="vitaminB5" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminB5?.touched && vitaminB5.errors?.required">Please enter the vitamin B5 content.</div>
      <ion-item>
        <ion-label floating for="vitaminB6" id="vitaminB6Label">Vitamin B6 (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminB6Label" aria-required="true" formControlName="vitaminB6"
          id="vitaminB6" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminB6?.touched && vitaminB6.errors?.required">Please enter the vitamin B6 content.</div>
      <ion-item>
        <ion-label floating for="vitaminB9" id="vitaminB9Label">Vitamin B9 (ug)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminB9Label" aria-required="true" formControlName="vitaminB9"
          id="vitaminB9" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminB9?.touched && vitaminB9.errors?.required">Please enter the vitamin B9 content.</div>
      <ion-item>
        <ion-label floating for="vitaminB12" id="vitaminB12Label">Vitamin B12 (ug)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminB12Label" aria-required="true" formControlName="vitaminB12"
          id="vitaminB12" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminB12?.touched && vitaminB12.errors?.required">Please enter the vitamin B12 content.</div>
      <ion-item>
        <ion-label floating for="choline" id="cholineLabel">Choline (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="cholineLabel" aria-required="true" formControlName="choline"
          id="choline" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && choline?.touched && choline.errors?.required">Please enter the choline content.</div>
      <ion-item>
        <ion-label floating for="vitaminC" id="vitaminCLabel">Vitaminc C (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminCLabel" aria-required="true" formControlName="vitaminC"
          id="vitaminC" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminC?.touched && vitaminC.errors?.required">Please enter the vitamin C content.</div>
      <ion-item>
        <ion-label floating for="vitaminD" id="vitaminDLabel">Vitamin D (ug)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminDLabel" aria-required="true" formControlName="vitaminD"
          id="vitaminD" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminD?.touched && vitaminD.errors?.required">Please enter the vitamin D content.</div>
      <ion-item>
        <ion-label floating for="vitaminE" id="vitaminELabel">Vitamin E (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminELabel" aria-required="true" formControlName="vitaminE"
          id="vitaminE" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminE?.touched && vitaminE.errors?.required">Please enter the vitamin E content.</div>
      <ion-item>
        <ion-label floating for="vitaminK" id="vitaminKLabel">Vitamin K (ug)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="vitaminKLabel" aria-required="true" formControlName="vitaminK"
          id="vitaminK" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminK?.touched && vitaminK.errors?.required">Please enter the vitamin K content.</div>
    </ion-item-group>
    <ion-item-group role="group">
      <ion-item-divider color="primary" role="separator">Other</ion-item-divider>
      <ion-item>
        <ion-label floating for="alcohol" id="alcoholLabel">Alcohol (g)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="alcoholLabel" aria-required="true" formControlName="alcohol"
          id="alcohol" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && alcohol?.touched && alcohol.errors?.required">Please enter the alcohol content.</div>
      <ion-item>
        <ion-label floating for="caffeine" id="caffeineLabel">Caffeine (mg)*</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="caffeineLabel" aria-required="true" formControlName="caffeine"
          id="caffeine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message" *ngIf="foodForm.invalid && vitaminA?.touched && vitaminA.errors?.required">Please enter the caffeine content.</div>
    </ion-item-group>
  </form>
</ion-content>