<ion-header>
  <ion-navbar role="toolbar">
    <button ion-button menuToggle role="button">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
    </button>
    <ion-title>Recipes</ion-title>
    <ion-buttons end>
      <button (click)="addIngredientFilter()" icon-only ion-button role="button">
        <ion-icon aria-hidden="true" name="funnel"></ion-icon>
      </button>
      <button (click)="showSettings($event)" icon-only ion-button role="button">
        <ion-icon aria-hidden="true" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!!ingredientsFilter.length" padding>
    <h2>
      Filter ingredients:
    </h2>
    <button (click)="removeIngredientQuery(i)" icon-right ion-button *ngFor="let query of ingredientsFilter; let i = index">
      {{ query }}
      <ion-icon aria-hidden="true" name="close"></ion-icon>
    </button>
  </div>
  <ion-searchbar debounce="2000" (ionCancel)="clearSearchRecipes($event)" [(ngModel)]="recipeSearchQuery" placeholder="Search recipes"
    role="search">
  </ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col col-lg-4 col-md-6 col-sm-6 col-auto col-xs *ngFor="let recipe of recipes | filter: 'ingredients': ingredientsFilter | search: recipeSearchQuery | limit: recipeLimit">
        <ion-card class="recipe-card" (click)="editRecipe(recipe)">
          <img [alt]="recipe.name" [src]="recipe.image || 'https://firebasestorage.googleapis.com/v0/b/ifit-6f60e.appspot.com/o/recipes%2Ffood-and-cooking.png?alt=media&token=27592b8a-8fed-4e29-87e2-d71b885a2e3e'"
          />
          <div class="recipe-card__overlay">
            <div>
              <h2 class="recipe-card__title">{{ recipe.name }}</h2>
              <p class="recipe-card__subtitle">{{ recipe.ingredients?.length }} ingredients</p>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="recipes?.length === 0" class="no-elements">
    <ion-icon aria-hidden="true" class="no-elements__icon" name="restaurant"></ion-icon>
    <h2 class="no-elements__message">You have no recipes</h2>
  </div>
  <ion-fab bottom right>
    <button (click)="addRecipe()" color="secondary" ion-fab role="button">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="loadMoreRecipes($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>