<ion-header>
  <ion-navbar role="toolbar">
    <button ion-button menuToggle role="button">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
    </button>
    <ion-title>Sleep</ion-title>
    <ion-buttons end>
      <button (click)="getPrevPlan()" ion-button padding role="button">
        <ion-icon aria-hidden="true" name="rewind"></ion-icon>
      </button>
      <button (click)="saveSleep()" [disabled]="sleepForm.invalid" icon-only ion-button padding role="button">
        <ion-icon aria-hidden="true" name="cloud-done"></ion-icon>
      </button>
      <button (click)="showSettings($event)" icon-only ion-button role="button">
        <ion-icon aria-hidden="true" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar role="tablist">
    <ion-segment [(ngModel)]="sleepSegment">
      <ion-segment-button value="dayLog">
        Today
      </ion-segment-button>
      <ion-segment-button value="weekLog">
        Week log
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="sleepSegment">
    <form *ngSwitchCase="'dayLog'" [formGroup]="sleepForm" novalidate role="form">
      <ion-list no-lines>
        <ion-item-divider color="primary" role="separator">
          Timing
        </ion-item-divider>
        <ion-item>
          <ion-label color="{{ +sleep.bedTime.split(':')[0] <= 22 ? 'secondary' : 'danger' }}" floating for="bedTime" id="bedTimeLabel">Bed time
            <ion-icon aria-hidden="true" color="{{ +sleep.bedTime.split(':')[0] <= 22 ? 'secondary' : 'danger' }}" item-right name="{{ +sleep.bedTime.split(':')[0] <= 22 ? 'thumbs-up' : 'thumbs-down' }}"></ion-icon>*</ion-label>
          <ion-datetime aria-live="assertive" aria-labelledby="bedTimeLabel" aria-required="true" displayFormat="HH:mm" id="bedTimeLabel"
            formControlName="bedTime" pickerFormat="HH mm"></ion-datetime>
        </ion-item>
        <div class="form__message" *ngIf="sleepForm.invalid && bedTime?.touched && bedTime.errors?.required">Please select your bed time.</div>
        <ion-item>
          <ion-label color="{{ sleep.duration >= 7 ? 'secondary' : 'danger' }}" floating for="duration" id="durationLabel">Duration
            <ion-icon aria-hidden="true" color="{{ sleep.duration >= 7 ? 'secondary' : 'danger' }}" item-right name="{{ sleep.duration >= 7 ? 'thumbs-up' : 'thumbs-down' }}"></ion-icon>*</ion-label>
          <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="durationLabel" aria-required="true" formControlName="duration"
            id="duration" required type="number"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="sleepForm.invalid && duration?.touched && duration.errors?.required">Please enter your sleep duration.</div>
      </ion-list>
    </form>
    <ion-list *ngSwitchCase="'dayLog'" no-lines>
      <ion-item-divider color="primary" role="separator">
        Quality
        <ion-badge color="{{ sleep.quality > 5 ? 'secondary' : 'danger' }}" item-end>{{ sleep.quality > 5 ? 'I feeling energized and refreshed' : 'I am feeling exhausted and depressed' }}</ion-badge>
      </ion-item-divider>
      <ion-item>
        <ion-range color="{{ sleep.quality > 5 ? 'secondary' : 'danger' }}" [(ngModel)]="sleep.quality" max="10" min="1" snaps="true"
          step="1">
          <ion-icon aria-hidden="true" color="danger" range-left name="sad"></ion-icon>
          <ion-icon aria-hidden="true" color="secondary" range-right name="happy"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item-divider color="primary" role="separator">
        Suggestions
      </ion-item-divider>
      <ion-item *ngIf="sleep.duration < 7" role="listitem">
        <ion-icon aria-hidden="true" color="primary" item-start name="bulb"></ion-icon>
        <h2 text-wrap>You need 7-9 hours of good quality sleep per night</h2>
        <p text-wrap>Although our sleep need is relative to hour daily effort intelectual and physical effort, we generaly need 5 complete
          sleep cycles per night (90-110 minutes/cycle).</p>
      </ion-item>
      <ion-item *ngIf="sleep.quality <= 5" role="listitem">
        <ion-icon aria-hidden="true" color="primary" item-start name="bulb"></ion-icon>
        <h2 text-wrap>Focus on good quality sleep, not on quantity.</h2>
        <p text-wrap>Make a sleep routine by going to bed and waking up at the same hours every day, and avoid stimulants, electronics
          or stressfull activities before bed time.</p>
      </ion-item>
      <ion-item *ngIf="sleep.duration >= 7 && sleep.quality > 5" role="listitem">
        <ion-note text-center text-wrap>No suggestions. Looking good!&nbsp;
          <ion-icon aria-hidden="true" name="thumbs-up"></ion-icon>
        </ion-note>
      </ion-item>
    </ion-list>
    <div *ngSwitchCase="'weekLog'">
      <ion-item padding>
        <ion-label for="chartDataSelection" id="chartDataSelectionLabel">Sleep data</ion-label>
        <ion-select [(ngModel)]="chartDataSelection" (ionChange)="changeChartData()" aria-live="assertive" aria-labelledby="chartDataSelectionLabel"
          aria-required="true" id="chartDataSelection">
          <ion-option role="option" value="duration">Sleep duration</ion-option>
          <ion-option role="option" value="bedTime">Bed time</ion-option>
          <ion-option role="option" value="quality">Sleep quality</ion-option>
        </ion-select>
      </ion-item>
      <canvas baseChart class="chart" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [legend]="true" [options]="chartOpts">
      </canvas>
    </div>
  </div>
</ion-content>