<ion-header>
  <ion-navbar role="toolbar">
    <ion-title>Activities</ion-title>
    <ion-buttons end>
      <button (click)="doneSelecting()" icon-only ion-button padding role="button">
        <ion-icon aria-hidden="true" name="done-all"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar debounce="2000" (ionCancel)="clearSearchActivities($event)" [(ngModel)]="activitySearchQuery" placeholder="Search activities"
    role="search">
  </ion-searchbar>
  <ion-list role="list">
    <ion-item *ngFor="let activityCategory of activityCategories | search: activitySearchQuery | limit: activityLimit ; let i = index"
      role="listitem">
      <ion-thumbnail item-start>
        <img src="assets/icon/{{ activityCategory.icon }}">
      </ion-thumbnail>
      <ion-label>{{ activityCategory.name }}</ion-label>
      <ion-select multiple="true" [(ngModel)]="selectedActivities[activityCategory.name]">
        <ion-option *ngFor="let activityType of activityCategory.types | sort: 'name': 'asc'" [value]="activityType">{{ activityType.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreActivities($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>