<ion-header>
  <ion-navbar role="toolbar">
    <button ion-button menuToggle role="button">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
    </button>
    <ion-title>Exercise</ion-title>
    <ion-buttons end>
      <button (click)="getPrevPlan()" ion-button padding role="button">
        <ion-icon aria-hidden="true" name="rewind"></ion-icon>
      </button>
      <button (click)="saveActivityPlan()" [disabled]="!activityPlan.activities.length" ion-button padding role="button">
        <ion-icon aria-hidden="true" name="cloud-done"></ion-icon>
      </button>
      <button (click)="showSettings($event)" icon-only ion-button role="button">
        <ion-icon aria-hidden="true" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar role="tablist">
    <ion-segment [(ngModel)]="exerciseSegment">
      <ion-segment-button value="dayLog">
        Today
      </ion-segment-button>
      <ion-segment-button value="weekLog">
        Week log
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab *ngIf="exerciseSegment === 'dayLog'" bottom right>
    <button (click)="addActivity()" color="secondary" ion-fab role="button">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
    </button>
  </ion-fab>
  <div [ngSwitch]="exerciseSegment">
    <ion-list *ngSwitchCase="'dayLog'" padding role="list">
      <button (click)="changeActivity(i)" ion-item *ngFor="let activity of activityPlan?.activities; let i = index" role="button">
        <ion-icon aria-hidden="true" color="primary" item-start name="create"></ion-icon>
        <h2 text-wrap>{{ activity.name }}</h2>
        <p text-wrap>{{ activity.duration }} minutes</p>
        <p item-content>{{ activity.energyConsumption }} kcal</p>
      </button>
      <ion-item role="listitem">
        <h2 text-wrap>Total duration</h2>
        <p item-content>{{ activityPlan?.totalDuration }} minutes</p>
      </ion-item>
      <ion-item role="listitem">
        <h2 text-wrap>Total energy consumption</h2>
        <p item-content>{{ activityPlan?.totalEnergyConsumption }} kcal</p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'dayLog'" role="list">
      <ion-item-divider color="primary" role="separator">
        Suggestions
      </ion-item-divider>
      <ion-item *ngIf="activityPlan?.totalDuration < 120" role="listitem">
        <ion-icon aria-hidden="true" color="primary" item-start name="bulb"></ion-icon>
        <h2 text-wrap>Stay active</h2>
        <p text-wrap>Sedentarism puts you on a risk of all major organ diseases. Walk instead of taking a ride, take the stairs instead
          of the elevator, stretch every 45 minutes, do anything you can to avoid standing in one place. Everything counts!</p>
      </ion-item>
      <ion-item *ngIf="activityPlan?.totalDuration >= 120" role="listitem">
        <ion-note text-center text-wrap>No suggestions. Looking good!&nbsp;
          <ion-icon aria-hidden="true" name="thumbs-up"></ion-icon>
        </ion-note>
      </ion-item>
    </ion-list>

    <div *ngSwitchCase="'weekLog'">
      <ion-item padding>
        <ion-label for="chartDataSelection" id="chartDataSelectionLabel">Exercise data</ion-label>
        <ion-select [(ngModel)]="chartDataSelection" (ionChange)="changeChartData()" aria-live="assertive" aria-labelledby="chartDataSelectionLabel"
          aria-required="true" id="chartDataSelection">
          <ion-option role="option" value="duration">Total duration</ion-option>
          <ion-option role="option" value="energy">Total energy burn</ion-option>
        </ion-select>
      </ion-item>
      <canvas baseChart class="chart" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [legend]="true" [options]="chartOpts">
      </canvas>
    </div>
  </div>

</ion-content>